<div style="text-align: center;">
    <h1>Citat</h1>
    <br>
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">Broccoli är bra</li>
        <li class="list-group-item list-group-item-success">Broccoli är grönt</li>
        <li class="list-group-item list-group-item-primary">Broccoli är gott</li>
        <li class="list-group-item list-group-item-success">Broccoli gör dig stark</li>
        <li class="list-group-item list-group-item-primary">Broccoli är livet</li>
      </ul>    
</div>